# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Automated System Test

on:
  push: 
    branches: [ __test.yaml-rob ] 

jobs:
  build_with_gpu:
    runs-on: [pelican]
    defaults:
      run:
        shell: bash -l {0}
    steps:
      - uses: actions/checkout@v2
      - name: submit slurm gpu job
        run: |
          # copy scripts over to the submit server
          scp $GITHUB_WORKSPACE/.github/workflows/mcs_slurm.sh $USER@submit-b.hpc.engr.oregonstate.edu:/tmp/mcs_slurm.sh
          scp $GITHUB_WORKSPACE/.github/workflows/mcs_submit.sh $USER@submit-b.hpc.engr.oregonstate.edu:/tmp/mcs_submit.sh
          ssh -tt $USER@submit-b.hpc.engr.oregonstate.edu "/bin/chmod +x /tmp/mcs_submit.sh; /tmp/mcs_submit.sh"
